@import '../../../../styles/CommonClasses.module';

.Wrapper {
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
  // > popover and < modal (1050)
  z-index: 1000;

  .Navbar {
    background-color: $background-color-dark;

    .Toggle {
      @include ClickableLight($font-color-bright);
    }

    .Left {
      display: flex;
      align-items: center;

      .Back {
        font-size: $icon-size-m;
        margin-right: $margin-l;
      }

      .Brand {
        display: flex;
        align-items: center;
        height: 2rem;

        .BrandName {
          margin-left: $margin-m;
        }
      }
    }

    .Collapse {
      align-items: end;
    }

    .Items {
      &:hover:enabled {
        cursor: pointer;
      }
    }

    .NoCollapse {
      @media (max-width: 768px) {
        display: flex;
        justify-content: flex-end;
        flex: 1;
        margin: 0 $margin-xl;
      }
      @media (min-width: 768px) {
        position: fixed;
        right: $margin-m;
      }
    }
  }
}

.QrModal {

  .QrCode {
    justify-content: center;
    width: 100%;
  }
}

.CopyIcon {
  @include ClickableDark($font-color-dark);
  vertical-align: baseline;
}
