@import '../../../../styles/CommonClasses.module';

.RegisterServiceWorker {
  background-color: $background-color-dark;
  border: 0;
  bottom: 0;
  color: $font-color-bright;
  left: 0;
  margin: 1rem;
  position: fixed;

  .UpdateLink {
    color: #007bff;
  }
}
