@import '../../../../styles/CommonClasses.module.scss';

.HeaderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;

  .Title {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.FilterPosition {
  margin-right: $margin-m;
  margin-left: $margin-m;
  min-width: 40px;
}

.CheckAllCheckboxPosition {
  margin-left: $margin-m;
  margin-right: $margin-m;
  min-width: 40px;
}

.NoData {
  padding: $padding-l 0;
}
