@import '../../styles/color.module';

.NameIdentity {
  padding: $padding-m;
  width: 100%;
}

.Identity {
  display: flex;
  justify-content: center;

  .IdentityContainer {
    width: 100%;
  }

  .IdentityBlackened {
    background: black;
    margin-bottom: $margin-s;
    height: 1.5rem;
  }

  .IdentityTextHidden {
    opacity: 0;
  }
}

.IdentityAuthor {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $font-size-small;

  .IdentityAuthorIcon {
    @include ClickableDark($font-color-dark);
    margin-right: $margin-m;
    width: fit-content;
    height: fit-content;
    padding: $padding-s;
  }
}

.IdentityRevealed {
  @extend .WrapText;
  background: darkgreen;
  margin: $margin-s;
}

.NoIdentityBadge {
  @extend .WrapText;
  background: darkred;
}
