@import '../../../../styles/color.module';

.Cards {
  display: flex;
  flex-direction: row;

  .Card {
    display: flex;
    flex-grow: 1;
    margin-top: $margin-s;
  }

  .CardSpace {
    width: .5rem;
  }

  .Yes {
    height: 200px;
    font-size: 64px;
    @include ClickableDark($color-forest-green-crayola);
  }

  .No {
    height: 200px;
    font-size: 64px;
    @include ClickableDark(darkred);
  }

  .RotateAnimation {
    transition: transform .5s;
    transform: rotateY(160deg);
    animation: fadeOut .5s ease;
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

}
