@import './styles/CommonClasses.module';

.App {
  @extend %NoSelect;

  .SkipLink {
    position: fixed;
    top: -40px;
    left: 0;
    outline: none;
    border-radius: 2px;
    background: darkgrey;
    color: white;
    padding: 8px;
    // > z-index of Navbar
    z-index: 2000;

    &:focus {
      top: 0;
    }
  }
}
