@import './styles/CommonClasses.module.scss';
@import './styles/bootstrap.scss';
@import url(https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Montserrat:wght@300&display=swap);

body {
  height: 100%;
  background-color: $background-color;
}
