@import '../../../styles/CommonClasses.module.scss';

.WWBackground {
  background-color: #BBA79C;
}

.WWPrimary {
  @include ClickableLight($font-color-bright);
  background-color: #5D4037 !important;
}

.WWSecondary {
  @include ClickableLight($font-color-bright);
  background-color: #8D6E63 !important;
}

.WWTertiary {
  @include ClickableDark($font-color-dark);
  background-color: #f1eae4 !important;

  &.Selected {
    background-color: #d8cac2 !important;
  }
}

.WWTertiaryIcon {
  color: #FDF7EC !important;
}

.WWConnect {
  color: $font-color-bright;
  background-color: #588b8b;
}

.WWDisconnect {
  color: $font-color-bright;
  background-color: #c8553d;
}
