@import '../../../../styles/CommonClasses.module';

.Error {
  background-color: red;
  position: fixed;
  // popover < error < navbar
  z-index: 990;
  margin-top: 5rem;
  margin-right: 2rem;
  margin-left: 2rem;
  top: 0;
  right: 0;
  height: fit-content;
  max-width: 400px;
  border: none;

  .Status {
    background-color: darkred;
    color: $font-color-bright;
    font-size: $font-size-large;
  }

  .ErrorText {
    color: $font-color-bright;

    .ReloadText {
      font-size: $font-size-extra-small;
      margin-top: $margin-m;

      .ReloadLink {
        color: #007bff;
      }
    }
  }
}
