@import '../../styles/color.module';

.GuessCorrect {
  color: green;
}

.GuessOneOff {
  color: orange;
}

.GuessIncorrect {
  color: red;
}

.LastRoundInfo {
  background-color: darkred;
  color: $font-color-bright;
}
