.Toast {
  left: 1em;
  margin: 0 auto;
  max-width: 400px;
  padding: .5em;
  pointer-events: none;
  position: fixed;
  right: 1em;
  width: 80%;
  // > navbar and > popover and < modal
  z-index: 1040;
}

.Top {
  animation: fadeInFromTop .3s ease-in both;
  top: 0;
}

@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.Bottom {
  animation: fadeInFromBottom .3s ease-in both;
  bottom: 0;
}

@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
