@import '../../../../styles/CommonClasses.module';

.ChangeName {
  @extend %Content;

  .ChangeNameCard {
    background-color: silver;
  }

  .ChangeNameButton {
    background-color: dimgrey !important;
    @include ClickableLight($font-color-bright);
  }
}
