@import '../../styles/color.module';

.RoleCard {
  color: $icon-color-bright;
  font-size: $icon-size-l;
  padding: $padding-m $padding-l;
  position: absolute;
  right: 0;
  z-index: 2;

  .RoleInfoIcon {
    margin-left: $margin-s;
  }
}
