@import '../../../styles/CommonClasses.module';

.CBackground {
  background-color: #E3DFC8;
}

.CPrimary {
  @include ClickableDark($font-color-dark);
  background-color: #6fa14b !important;
}

.CSecondary {
  @include ClickableDark($font-color-dark);
  background-color: #ffbe4f !important;
}

.CTertiary {
  @include ClickableDark($font-color-dark);
  background-color: #F1F1E8 !important;

  &.Selected {
    background-color: #F97068 !important;
  }

  &:disabled {
    @extend .CTertiary;
    opacity: $opacity-disabled;
  }
}

.CTertiaryIcon {
  @include ClickableDark($font-color-dark);
}

.CConnect {
  color: $font-color-bright;
  background-color: #184d2c;
}

.CDisconnect {
  color: $font-color-bright;
  background-color: #8c332e;
}
