@import '../../../../styles/CommonClasses.module.scss';

.CheckboxCardFormGroup {
  margin-top: $margin-s;

  .CheckboxContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: $padding-xxl;
    padding-right: $padding-xl;

    .Checkbox {
      margin-top: 0;
    }
  }
}
