@import '../../../../styles/CommonClasses.module.scss';

.Icon {
  align-self: center;
  display: inline-block;
}

.IconButton {
  @extend %IconButton;
  @include ClickableLight($font-color-bright);
  padding-left: $padding-m;
  padding-right: $padding-m;
}
