@import '../../../styles/CommonClasses.module';

.SFBackground {
  background-color: #334A52;
}

.SFPrimary {
  color: $font-color-bright;
  background-color: #428A9E !important;
}

.SFSecondary {
  color: $font-color-bright;
  background-color: #7EB9C9 !important;
}

.SFTertiary {
  @include ClickableDark($font-color-dark);
  background-color: #F5F8F2 !important;

  &:disabled {
    @extend .SFTertiary;
    opacity: $opacity-disabled;
  }
}

.SFTertiaryIcon {
  color: #F5F8F2 !important;
}

.Selected {
  background-color: blanchedalmond !important;
}

.SFConnect {
  color: $font-color-bright;
  background-color: #055637;
}

.SFDisconnect {
  color: $font-color-bright;
  background-color: #9b2915;
}
