@import '../../../../styles/color.module';

.CategoryAnswer {
  display: flex;
  flex-direction: row;

  .ValidityIcon {
    @include ClickableDark($font-color-dark);
    margin-right: $margin-m;
  }

  .Result {
    display: flex;
    width: 100%;

    .PlayerInfo {
      margin-right: $margin-m;
      width: 120px;

      .PlayerNameAndConnection {
        display: flex;
        align-items: center;
      }

      .ReadyState {
        display: flex;
        font-size: $font-size-small;
      }
    }

    .Answer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
    }
  }
}
