@import '../../../styles/CommonClasses.module';

.CABackground {
  background-color: #bbc3c7;
}

.CAPrimary {
  @include ClickableLight($font-color-bright);
  background-color: #40474b !important;
}

.CASecondary {
  @include ClickableLight($font-color-bright);
  background-color: #69777e !important;
}

.CATertiary {
  @include ClickableDark($font-color-dark);
  background-color: #f5f5f5 !important;

  &.Selected {
    background-color: #e0e0e0 !important;
  }
}

.CATertiaryIcon {
  @include ClickableLight(#f5f5f5);
}

.CAConnect {
  @include ClickableLight(#f5f5f5);
  background-color: #009d06;
}

.CADisconnect {
  @include ClickableLight(#f5f5f5);
  background-color: #cc2b2b;
}
