@import '../../../../styles/CommonClasses.module.scss';

.InfoCard {
  padding-bottom: 0;
  margin-top: $margin-s;
  margin-bottom: $margin-s;
}

.InfoCardTitle {
  font-size: $font-size-extra-large;
  padding-top: $padding-xl;
  font-family: $font-family-header;
}
