@import '../../../../styles/color.module';

.IdentityCard {
  display: flex;
  margin: $margin-s 0;

  .IconContent {
    margin-left: $margin-xl;
    margin-right: $margin-xl;
  }

  .Icon {
    @include ClickableDark($font-color-dark);
    display: flex;
    align-items: center;
    height: fit-content;
  }
}
