@import '../../../../../../styles/CommonClasses.module';

.ReadyButton {
  @include ClickableLight($font-color-bright);
}

.PlayerReady {
  background-color: #74A57F !important;
}

.PlayerNotReady {
  background-color: #8C034E !important;
}
