@import 'src/component/werewolf/styles/color.module';

.PlayerCard {
  padding: $padding-m;
  margin-top: $margin-s;

  .TrashIcon {
    @include ClickableDark($font-color-dark);
  }
}

.StartGameButton {
  margin-top: $margin-s;
}
