@import '../../../../styles/color.module';

.RoleSelector {
  flex-direction: row;
  margin: $margin-s 0;
  padding: $padding-m;

  .RoleInformation {
    align-items: center;
    display: flex;
    margin: 0 $margin-m;
    width: 100%;

    .InfoButton {
      margin-right: $margin-l;
      text-align: start;
    }

    .RoleName {
      text-align: start;
      flex: 1 1 0;
    }

    .RoleAmount {
      margin-left: $margin-s;
      max-width: fit-content;
      text-align: end;
    }
  }

  .RoleAmountButtons {
    display: flex;

    .RoleAmountButton {
      margin: 0.5em;
      width: 3em;
    }
  }
}
