@import '../../styles/color.module';

.RefillIconContainer {
  display: flex;
  justify-content: center;
  padding: $padding-m $padding-l;

  .RefillIcon {
    margin-left: $margin-m;
  }
}

.ConfirmButton {
  margin-top: $margin-l;
}

.CriticName {
  font-size: $font-size-default;
  margin-top: $margin-s;
}
