@import '../../../../styles/CommonClasses.module';

.Input {
  @include ClickableLight($font-color-dark);
}

.IncDecButton {
  @include ClickableLight($font-color-dark);
  background: #e9ecef !important;
}
