@import '../../styles/color.module.scss';

.CategoryInfo {
  display: flex;
  width: 100%;

  .CategoryName {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .CategoryInfoPopoverPosition {
    display: flex;
    align-self: center;
  }

  .CategoryInfoPopoverIcon {
    color: $font-color-dark;
    @include ClickableDark($font-color-dark);
  }
}
