@import '../../../../styles/CommonClasses.module.scss';

.IconAndContent {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding: 0;

  .Content {
    width: 100%;
  }

  .ContentRight {
    margin-right: 2rem;
  }

  .ContentLeft {
    margin-left: 2rem;
  }

  .IconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;

    .Icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .IconContainerRight {
    margin-left: $margin-s;
  }

  .IconContainerLeft {
    margin-right: $margin-s;
  }
}

