@import '../../../../../../component/whoAmI/styles/color.module';

.IdentityCard {
  margin: $margin-s 0;

  .IdentityNameButton {
    @extend %TransparentBackground;
    @include ClickableDark($font-color-dark);
    padding: 0;
    margin: 0;
  }

  .IdentityInput {
    padding: $padding-m;

    .ClearButton {
      margin-top: $margin-s;
    }
  }
}

