@import '../../../../styles/color.module';

$dot-color: $font-color-dark;
$amplitude: -4px;

.TypingDotsContainer {
  display: flex;
  justify-content: center;
  height: 12px;
}

.TypingDots {
  margin-top: auto;
  position: relative;
  left: -9999px;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background-color: $dot-color;
  color: $dot-color;
  box-shadow: 9984px 0 0 0 $dot-color, 9999px 0 0 0 $dot-color, 10014px 0 0 0 $dot-color;
  animation: dotTyping 1.5s infinite linear;

  @keyframes dotTyping {
    0% {
      box-shadow: 9984px 0 0 0 $dot-color, 9999px 0 0 0 $dot-color, 10014px 0 0 0 $dot-color;
    }
    16.667% {
      box-shadow: 9984px $amplitude 0 0 $dot-color, 9999px 0 0 0 $dot-color, 10014px 0 0 0 $dot-color;
    }
    33.333% {
      box-shadow: 9984px 0 0 0 $dot-color, 9999px 0 0 0 $dot-color, 10014px 0 0 0 $dot-color;
    }
    50% {
      box-shadow: 9984px 0 0 0 $dot-color, 9999px $amplitude 0 0 $dot-color, 10014px 0 0 0 $dot-color;
    }
    66.667% {
      box-shadow: 9984px 0 0 0 $dot-color, 9999px 0 0 0 $dot-color, 10014px 0 0 0 $dot-color;
    }
    83.333% {
      box-shadow: 9984px 0 0 0 $dot-color, 9999px 0 0 0 $dot-color, 10014px $amplitude 0 0 $dot-color;
    }
    100% {
      box-shadow: 9984px 0 0 0 $dot-color, 9999px 0 0 0 $dot-color, 10014px 0 0 0 $dot-color;
    }
  }
}
