@import '../../../../../../styles/CommonClasses.module';

.Header {
  padding-top: $padding-l;
}

.OpenGame {
  display: flex;
  justify-content: center;
  padding: $padding-m;

  .sGame {
    min-width: fit-content;
  }
}
