@import '../../../../../../styles/CommonClasses.module';

.ToggleButton {
  border-width: 0;
  height: fit-content;
  min-width: fit-content;

  @extend %TransparentBackground;
  @include ClickableLight($font-color-bright);
}

.FilterMenu {
  max-width: 300px;

  .Header {
    font-size: $font-size-small;
    padding-left: $padding-xl;
    margin: $margin-m 0;
  }

  .FilterItem {
    display: flex;
    justify-content: space-between;
    margin: $margin-m 0;
    padding: 0 $padding-xl;

    .FilterCheckboxContainer {
      margin-left: 24px;
    }
  }
}
