@import '../../../../../../styles/CommonClasses.module';

.ConnectToast {
  animation: fadeIn .3s ease-in both, fadeOut .5s ease 1.7s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
