@import '../../../../styles/color.module';

.VoteItem {
  .PlayerInfo {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

    .Player {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      .Name {
        margin-right: $margin-m;
      }

      .SpecialRole {
        min-width: fit-content;
        padding-left: $padding-s;
      }
    }

    .Votes {
      display: flex;
      align-items: center;
      margin-left: $margin-s;
      width: 4.5rem;
    }

    .RoleIcon {
      @include ClickableDark($font-color-dark);
    }
  }
}

