@import '../../../../../../styles/CommonClasses.module.scss';
@import '../../../../styles/color.module';

.CategoryInput {
  margin-top: $margin-m;
}

.TrashIcon {
  @include ClickableDark($font-color-dark);
}
