@import '../../../styles/CommonClasses.module';

.WAIBackground {
  background-color: #f6f7cd;
}

.WAIPrimary {
  @include ClickableLight($font-color-bright);
  background-color: #55761a !important;
}

.WAISecondary {
  @include ClickableLight($font-color-bright);
  background-color: #9db33e !important;
}

.WAITertiary {
  @include ClickableDark($font-color-dark);
  background-color: #dfe49b !important;
}

.WAITertiaryIcon {
  color: #F5F8F2 !important;
}

.Selected {
  background-color: blanchedalmond !important;
}

.WAIConnect {
  color: $font-color-bright;
  background-color: #6ea023;
}

.WAIDisconnect {
  color: $font-color-bright;
  background-color: #d50102;
}
