@import '../../../../styles/CommonClasses.module';

.Game {
  @extend %Content;

  .NotFoundInfo {
    margin-top: $margin-l;
    font-size: $font-size-small;
  }

  .BackToMenuButton {
    @include ClickableLight($font-color-bright);
  }
}

.PlayerCard {
  padding: $padding-m 0;

  .KickIcon {
    @include ClickableDark($font-color-dark);
  }
}
