@import '../../../../styles/CommonClasses.module';

.ScoresCardContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .ScoresCardContentLeft {
    margin-left: $margin-m;
    text-align: start;

    .PlayerInfo {
      max-width: 150px;
    }

    .PlayerName {
      justify-content: start;
    }

    .ReadyState {
      font-size: $font-size-small;
    }
  }

  .ScoresCardContentRight {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: $margin-xl;
    margin-right: $margin-l;
    text-align: end;

    .ScoresCardContentRightRight {
      margin: 0 0.5em;
      min-width: 3em;
    }
  }
}
