@import './styles';

/**
This file contains classes/that are used by several components.
This file should be imported by other scss modules, not the ./styles.scss
 */

%Content {
  justify-content: center;
  margin: auto;
  max-width: $max-width-game;
  min-width: $min-width-game;
  text-align: center;
  padding: 0 $padding-xl $padding-xl;
  word-break: break-word;
}

%NoSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.NoSelect {
  @extend %NoSelect;
}

%TransparentBackground {
  background-color: transparent !important;
}

@mixin Disabled($font-color) {
  &:disabled {
    color: $font-color;
    opacity: $opacity-disabled;
  }
}

@mixin Focus($font-color) {

  &:focus {
    color: $font-color;

    &:enabled {
      box-shadow: inset 0 -0 0 100vh rgba(0, 0, 0, 0.1);
    }
  }

}

@mixin Active($font-color) {
  &:active {
    // Important, otherwise font is white when state is only :active but not :hover
    // TODO Find cause of important and fix
    color: $font-color !important;

    &:enabled {
      // Important, otherwise e.g. yes/no cards in privacy have default shadow
      // TODO Find cause of important and fix
      box-shadow: inset 0 -0 0 100vh rgba(0, 0, 0, 0.2) !important;
    }
  }
}

// Hover effect (cursor, darken)
@mixin Hover($font-color) {
  &:hover {
    color: $font-color;

    &:enabled {
      cursor: pointer;
    }
  }

  // Used for touchscreens to prevent sticky hover effect after
  // not hovering anymore
  // https://css-tricks.com/solving-sticky-hover-states-with-media-hover-hover/
  @media (hover: hover) {
    &:hover:enabled {
      box-shadow: inset 0 -0 0 100vh rgba(0, 0, 0, 0.1);
    }
  }
}

// A clickable / focusable element with dark outline
@mixin ClickableDark($font-color) {
  @include Hover($font-color);
  @include Disabled($font-color);
  @include Focus($font-color);
  @include Active($font-color);
  color: $font-color;

}

// TODO Unify with clickable dark
// A clickable / focusable element with white outline
@mixin ClickableLight($font-color) {
  @include Hover($font-color);
  @include Disabled($font-color);
  @include Focus($font-color);
  @include Active($font-color);
  color: $font-color;
}

.Loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.EllipseText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.WrapText {
  white-space: normal;
  word-wrap: break-word;
}

.ExternalLinkIcon {
  font-size: 12px;
  margin-left: 4px;
  vertical-align: text-top;
}

.StickyButton {
  position: sticky;
  margin: auto auto 0;
  bottom: 0;
}

%IconButton {
  padding: $padding-s;
  width: fit-content;
  height: fit-content;
  @extend %TransparentBackground;
}

.Label {
  display: flex;
  padding: $padding-m;
  width: 100%;
  cursor: pointer;

  .LabelContent {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: normal;
    word-wrap: break-word;
    width: 100%;
  }
}

// Use a class because disabling e.g. label does not work
.Disabled {
  cursor: default;
  opacity: $opacity-disabled;
}
