// Set default styles

// Colors
$background-color: #9b9b9b;
$background-color-dark: #404040;

// Font type
$font-family-header: 'Amatic SC';
$font-family: 'Montserrat';

// Font size
$font-size-extra-small: 0.7rem;
$font-size-small: 0.875rem;
$font-size-default: 1rem;
$font-size-large: 1.25rem;
$font-size-extra-large: 2.3rem;

// Font color
$font-color-bright: #FFFFFF;
$font-color-dark: #363D44;

// Opacity
$opacity-enabled: 1;
$opacity-disabled: 0.8;

// Margin
$margin-xs: 0.1rem;
$margin-s: 0.2rem;
$margin-m: 0.5rem;
$margin-l: 0.7rem;
$margin-xl: 1rem;

// Padding
$padding-s: 0.2rem;
$padding-m: 0.5rem;
$padding-l: 0.7rem;
$padding-xl: 1rem;
$padding-xxl: 1.5rem;

// Width
$max-width-game: 500px;
$min-width-game: 200px;

// Icon Color
$icon-color-bright: #FFFFFF;
$icon-color-dark: #363D44;

// Icon Size
$icon-size-s: 0.7rem;
$icon-size-m: 1rem;
$icon-size-l: 1.2rem;
