@import '../../../../../../../../component/whoAmI/styles/color.module';

.Note {
  display: flex;
  padding: $padding-m;
  margin-bottom: $margin-s;

  .DeleteButton {
    @include ClickableDark($font-color-dark);
  }
}
