@import '../../../../styles/CommonClasses.module';

.MainMenu {
  @extend %Content;
}

.MainMenuInfoCard {
  background-color: #E0E0E0;
}

.ExternalGamesHeader {
  color: $font-color-bright;
  margin: $margin-m;
}

.GameOne {
  @include ClickableDark($font-color-dark);
  margin: $margin-s 0;
  background-color: #ffa74f !important;
}

.GameTwo {
  @include ClickableDark($font-color-dark);
  margin: $margin-s 0;
  background-color: #ffbe4f !important;
}

.GameThree {
  @include ClickableDark($font-color-dark);
  margin: $margin-s 0;
  background-color: #ffd34f !important;
}

.GameFour {
  @include ClickableDark($font-color-dark);
  margin: $margin-s 0;
  background-color: #e1e44a !important;
}

.GameFive {
  @include ClickableDark($font-color-dark);
  margin: $margin-s 0;
  background-color: #81c945 !important;
}

.GameSix {
  @include ClickableDark($font-color-dark);
  margin: $margin-s 0;
  background-color: #45b73f !important;
}

.ExternalGame {
  @include ClickableLight($font-color-bright);
  border-width: 0;
  background-color: #757575;
  margin: $margin-s 0;
  padding: $padding-l 0;
}
