@import '../../../styles/CommonClasses.module.scss';

$color-forest-green-crayola: #74A57F;

.PBackground {
  background-color: #363d44;
}

.PPrimary {
  @include ClickableLight($font-color-bright);
  background-color: #74a57f !important;
}

.PSecondary {
  @include ClickableLight($font-color-bright);
  background-color: #9ece9a !important;
}

.PTertiary {
  @include ClickableDark($font-color-dark);
  background-color: #f8f8f8 !important;

  &.Selected {
    background-color: #d5d5d5 !important;
  }

  &:disabled {
    @extend .PTertiary;
    opacity: $opacity-disabled;
  }
}

.PTertiaryIcon {
  color: #FAF0F6 !important;
}

.PConnect {
  color: $font-color-bright;
  background-color: #43805a;
}

.PDisconnect {
  color: $font-color-bright;
  background-color: #8C034E;
}
