@import '../../../../styles/CommonClasses.module';

.PlayerInfo {

  .NameConnectionStatus {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    .GameMasterIconButton {
      @extend %IconButton;
      @include ClickableDark($font-color-dark);
    }
  }

  .ReadyState {
    font-size: $font-size-small;

    .Ready {
      padding: $padding-s;
      background-color: darkgreen;
    }

    .NotReady {
      padding: $padding-s;
      background-color: darkred;
    }
  }
}
